asgiref==3.11.1
brotli==1.2.0
cffi==2.1.0
crispy-bootstrap5==2026.3
cssselect2==0.9.0
Django==5.2.16
django-crispy-forms==2.6
fonttools==4.63.0
pillow==11.2.1
pycparser==3.0
pydyf==0.12.1
pyphen==0.17.2
sqlparse==0.5.5
tinycss2==1.5.1
tinyhtml5==2.1.0
weasyprint==63.1
webencodings==0.5.1
whitenoise==6.7.0
zopfli==0.4.3
