{% extends 'base.html' %}
{% block content %}
<div class="section-head">
  <h1>Staff</h1>
  <a class="button" href="{% url 'staff-create' %}">Create Staff</a>
</div>
<div class="table-wrap">
  <table>
    <tr><th>Name</th><th>Username</th><th>Phone</th><th>Title</th><th>Active</th></tr>
    {% for staff in staff_members %}
      <tr>
        <td>{{ staff }}</td>
        <td>{{ staff.user.username }}</td>
        <td>{{ staff.phone }}</td>
        <td>{{ staff.job_title }}</td>
        <td>{{ staff.is_active }}</td>
      </tr>
    {% empty %}
      <tr><td colspan="5">No staff yet.</td></tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
